<div>
    <h2>
        ADMIN CENTER
    </h2>
</div>
<div class="d-flex justify-content-start flex-wrap">
    <a asp-controller="Admin" asp-action="Products" class="admin-link admin-card w-25 px-4 mx-4 mt-4">Products</a>
</div>