<div>
    <h2>
        ADMIN CENTER
    </h2>
</div>
<div class="d-flex justify-content-evenly flex-wrap">
    <a asp-controller="Admin" asp-action="Products" class="admin-link admin-card col-3 px-4 mx-4 mt-4">Products</a>
    <a asp-controller="Admin" asp-action="Companies" class="admin-link admin-card col-3 px-4 mx-4 mt-4">Companies</a>
</div>